{% extends '@App/Layouts/layout-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{  asset('public/app/css/list.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/app/js/dsd-delete.js') }}"></script>
{% endblock javascripts %}